// color variables
$VIOLET: rgb(68, 42, 157);  // #442a9d
$BLACK: rgb(48, 56, 65);    // #303841
$GRAY: rgb(153, 153, 153);  // #999999
$YELLOW: rgb(255, 193, 45); // #ffc12d
$DARKGRAY: rgb(79, 79, 79); // #4f4f4f


// font variables
$OPENSANS: 'Open Sans', sans-serif;