html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, a,
img, dl, dt, dd, ol, ul, li,
fieldset, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
footer, header,
menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background: #eeeeee;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  outline: none;
  cursor: pointer;
}

a {
  outline: none;
  text-decoration: none;
}

.cf {
  content: " ";
  display: table;

  &:after, &:before {
    clear: both;
  }
}
